<h1>editar tweet</h1>
<p>
<%=link_to "ver todos", tweets_path%>
<%= form_for @tweet do |f| %>
<p>
  <%= f.label :message , "Tweet"%><br>
  <%= f.text_field :message %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>