<h1>crear Tweets</h1>

<%=link_to "ver todos", tweets_path%>

<%= form_for @tweet do |f| %>
  <p>
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </p>
 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>