<h1>crear Tweets</h1>

<%=link_to "ver todos", tweets_path%>

<%= form_for @tweet do |f| %>
  <p>
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </p>
 <%= f.select :user_id,User.all.collect{|u| [u.nombre, u.id]}%>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>