<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ciudad_origen %><br>
    <%= f.text_field :ciudad_origen %>
  </div>
  <div class="field">
    <%= f.label :ciudad_destino %><br>
    <%= f.text_field :ciudad_destino %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :hora_salida %><br>
    <%= f.datetime_select :hora_salida %>
  </div>
  <div class="field">
    <%= f.label :hora_llegada %><br>
    <%= f.datetime_select :hora_llegada %>
  </div>
  <div class="field">
    <%= f.label :piloto %><br>
    <%= f.datetime_select :piloto %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.datetime_select :codigo%>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= f.collection_check_boxes :plane_id, Plane.all, :id, :piloto %>
  </div>
<% end %>
