<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pilot.nombre %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @pilot.cedula %>
</p>

<%= link_to 'Edit', edit_pilot_path(@pilot) %> |
<%= link_to 'Back', pilots_path %>
