<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @woman.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @woman.surname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @woman.lastname %>
</p>

<p>
  <strong>Secondlastname:</strong>
  <%= @woman.secondlastname %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @woman.documento_id %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @woman.fecha_de_nacimiento %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @woman.estado_civil %>
</p>

<p>
  <strong>Numero de hijos:</strong>
  <%= @woman.numero_de_hijos %>
</p>

<p>
  <strong>Numero de abortos:</strong>
  <%= @woman.numero_de_abortos %>
</p>

<p>
  <strong>Problemas de embarazo:</strong>
  <%= @woman.problemas_de_embarazo %>
</p>

<p>
  <strong>Cancer de ovarios:</strong>
  <%= @woman.cancer_de_ovarios %>
</p>

<p>
  <strong>Cancer de mamas:</strong>
  <%= @woman.cancer_de_mamas %>
</p>

<p>
  <strong>Algun otro cancer:</strong>
  <%= @woman.algun_otro_cancer %>
</p>

<p>
  <strong>Hipertencion:</strong>
  <%= @woman.hipertencion %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @woman.diabetes %>
</p>

<p>
  <strong>Alzheimer:</strong>
  <%= @woman.alzheimer %>
</p>

<p>
  <strong>Grupo sanguineo:</strong>
  <%= @woman.grupo_sanguineo %>
</p>

<p>
  <strong>Otra:</strong>
  <%= @woman.otra %>
</p>

<p>
  <strong>Enfermedades:</strong>
  <%= @woman.enfermedades %>
</p>

<p>
  <strong>Grupo sanguineo:</strong>
  <%= @woman.grupo_sanguineo %>
</p>

<p>
  <strong>Enfermedades o tratamientos actitudes:</strong>
  <%= @woman.enfermedades_o_tratamientos_actitudes %>
</p>

<%= link_to 'Edit', edit_woman_path(@woman) %> |
<%= link_to 'Back', women_path %>
