<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @childd.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @childd.surname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @childd.lastname %>
</p>

<p>
  <strong>Secondlastname:</strong>
  <%= @childd.secondlastname %>
</p>

<p>
  <strong>Ti:</strong>
  <%= @childd.ti %>
</p>

<p>
  <strong>Age:</strong>
  <%= @childd.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @childd.sex %>
</p>

<p>
  <strong>Name mother:</strong>
  <%= @childd.name_mother %>
</p>

<p>
  <strong>Name father:</strong>
  <%= @childd.name_father %>
</p>

<p>
  <strong>Vacuna1:</strong>
  <%= @childd.vacuna1 %>
</p>

<p>
  <strong>Vacuna2:</strong>
  <%= @childd.vacuna2 %>
</p>

<p>
  <strong>Vacuna3:</strong>
  <%= @childd.vacuna3 %>
</p>

<p>
  <strong>Vacuna4:</strong>
  <%= @childd.vacuna4 %>
</p>

<p>
  <strong>Cancer:</strong>
  <%= @childd.cancer %>
</p>

<p>
  <strong>Hipertencion:</strong>
  <%= @childd.hipertencion %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @childd.diabetes %>
</p>

<p>
  <strong>Otra:</strong>
  <%= @childd.otra %>
</p>

<p>
  <strong>Enfermedades:</strong>
  <%= @childd.enfermedades %>
</p>

<p>
  <strong>Desnutricion:</strong>
  <%= @childd.desnutricion %>
</p>

<p>
  <strong>Grupo sanguineo:</strong>
  <%= @childd.grupo_sanguineo %>
</p>

<%= link_to 'Edit', edit_childd_path(@childd) %> |
<%= link_to 'Back', childds_path %>
