<p id="notice"><%= notice %></p>

<p>
  <strong>Pasajero:</strong>
  <%= @ticket.pasajero_id %>
</p>

<p>
  <strong>Vuelo:</strong>
  <%= @ticket.vuelo_id %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
