<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clinic.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @clinic.address %>
</p>

<p>
  <strong>Eps asociada:</strong>
  <% @clinic.entities.each do |entity|%>
	  		<%= entity.name + ", "%>
	  	<% end %>
</p>

<p>
  <strong>Lista de espera:</strong>
  <%= @clinic.list_count %>
</p>


<%= link_to "Asistir en esta clinica", add_to_wait_list_path(@clinic), class: "btn btn-primary", remote: true , method: :post %>


<p id= "respuesta"></p>


<%= link_to 'Edit', edit_clinic_path(@clinic) %> |
<%= link_to 'Back', clinics_path %>
