<!DOCTYPE html>
<html>
<head>
  <title>TURGENCIA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class:"container">
      <div class="jumbotron"> 
      <%= image_tag  "logo.png" %><!-- class="img-responsive"-->
           <% if user_signed_in? %>
              <li>
                <p> <%= current_user.name%></p>
                <%= image_tag(current_user.avatar) %><br>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
              </li>
            <% else %>   
              <li class="login">
                <a href="#" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#myModal">Login</a> 
              </li>
            <% end %> 
                <br><br>
            <div class="search">
              <%= form_tag(search_clinics_path, method: "get") do %>
              <%= label_tag(:q, "",) %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Search") %>
              <% end %>
            </div>
      </div>
</div>
<%= yield %>
<%= render partial: 'partials/login' %>
</body>
</html>